<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM " http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!--appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="level" value="trace"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="[%d{yyyy-MM-dd HH:mm:ss.SSSS}], %-5p, %t %c - %m%n"/>
        </layout>
    </appender-->

    <!--<appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">-->
    <appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="../logs/campaign-management.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss.SSSS}], %-5p, %t %5c - %m%n"/>
        </layout>
    </appender>

    <logger name="org.springframework.security">
        <level value="WARN"/>
    </logger>

    <!--<logger name="org.apache">-->
        <!--<level value="WARN"/> -->
    <!--</logger>-->

    <!--<logger name="org.apache.velocity">-->
        <!--<level value="FATAL"/>-->
    <!--</logger> -->

    <logger name="org.springframework">
        <level value="info"/>
    </logger>

    <logger name="com.cmr.api">
        <level value="trace"/>
    </logger>


    <root>
        <level value="INFO"/>
        <appender-ref ref="FILE"/>
    </root>

</log4j:configuration>
